<a href = "https://www.youtube.com/watch?v=sugvnHA7ElY">What does __name__ == '__main__' mean?</a>

## 1. Ternary conditions

#### We have a simple code below:

In [1]:
# snippet - 1 

condition = False

if condition:
    x = 1
else:
    x = 0
print(x)

0

#### The same code can be written as following:

In [2]:
# snippet - 2 

x = 1 if condition else 0
x

0

<hr>

## 2. How can you write large numbers so that they are easier to read?

#### Sometimes, it gets very hard to count the number of zeros when the number is large. Say we are adding the following numbers.

In [3]:
# Snippet - 1

num1 = 10000000000
num2 = 10000000

num1 + num2

10010000000

#### When writing on paper we can use commas but we cannot use commas in Pyhton. Instead, we can add underscores without affecting the code.

In [4]:
# Snippet - 2

num1 = 10_000_000_000
num2 = 1_000_000

total = num1 + num2
total

10001000000

#### We notice that the output does not have any seperators. To include seperators in the output we can do the following:

In [5]:
print(f"{total:,}")

10,001,000,000

<hr>

## 3. Keep a track of the index while looping.

#### Use the Python in build function ```enumerate()```

In [6]:
cities = ['Delhi', 'Siliguri', 'Hyderabad', 'Bangalore']

for city in cities:
    print(city + ",", end=" ")

Delhi, Siliguri, Hyderabad, Bangalore,

In [7]:
for index, city in enumerate(cities):
    print("{} -> {}".format(index, city))

0 -> Delhi
1 -> Siliguri
2 -> Hyderabad
3 -> Bangalore

#### If I want the index to start at say 5, we can specify it within the function itself.

In [8]:
for index, city in enumerate(cities, start=5):
    print("{} -> {}".format(index, city))

5 -> Delhi
6 -> Siliguri
7 -> Hyderabad
8 -> Bangalore

<hr>

## 4. Looping over two or more iterables at once.

In [9]:
names = ['Peter Parker', 'Clark Kent', 'Wade Wilson', 'Bruce Wayne']
heroes = ['Spiderman', 'Superman', 'Deadpool', 'Batman']

#### Suppose you want to print the name of each actor and their corresponding superhero name.

#### One way to do that is to use ```enumerate()```

In [10]:
for index, name in enumerate(names):
    hero = heroes[index]
    print(f"{name} is actually {hero}.")

Peter Parker is actually Spiderman.
Clark Kent is actually Superman.
Wade Wilson is actually Deadpool.
Bruce Wayne is actually Batman.

<br>

#### But this is not the most intuitive way to write this code. We should use the ```zip()``` function instead.

In [11]:
for n, h in zip(names, heroes):
    print(f"{n} is actually {h}")

Peter Parker is actually Spiderman
Clark Kent is actually Superman
Wade Wilson is actually Deadpool
Bruce Wayne is actually Batman

#### We can combine multiple iteratbles using ```zip()```

In [12]:
universes = ['Marvel', 'DC', 'Marvel', 'DC']

for n,h,u in zip(names, heroes, universes):
    print(f"{n} is actually {h} from the {u} universe.")

Peter Parker is actually Spiderman from the Marvel universe.
Clark Kent is actually Superman from the DC universe.
Wade Wilson is actually Deadpool from the Marvel universe.
Bruce Wayne is actually Batman from the DC universe.

<hr>

## 5. Unpacking Tuples

In [13]:
a, b, c = (5, 7, 8)
print(f"{a}, {b}, {c}")

5, 7, 8

#### But if we want to unpack more values than the number of variables, we cannot unpack it manually like the above.

#### We should use the unpacking operator ```*```

In [14]:
x, y, *z = (2, 5, 2, 5, 6, 1, 0, 19)
print(x,y)
print(z)

2 5
[2, 5, 6, 1, 0, 19]

#### In the above, x and y was equal to the first two numbers and the rest of the values were combined together in the last variable.

In [15]:
k, l, *m, n = (0, 5, -8, 9, 2, 10, 5)
print(k,l)
print(m)
print(n)

0 5
[-8, 9, 2, 10]
5

<hr>

## 6. Handling Password texts

#### Inputting secret information. What if you need to type in a password for a script?

In [16]:
username = input("Enter your username: ")
password1 = input("Enter the password: ")

print("Logging in...")

Enter your username:  rv23
Enter the password:  13579

Logging in...

#### We notice that the password we typed got displayed in plain text format which is definitely not what we want. To solve that, we do the following:

In [17]:
from getpass import getpass

username = input("Enter your username: ")
password2 = getpass("Enter the password: ")

if password1 == password2:
    print("Logging in...")                    # To show we typed the same password as above

Enter your username:  rv23
Enter the password:  ·····

Logging in...

<hr>

## 7. Do not name your own modules the same as ones from the Python Standard Library. Custom modules will take precedence over the ones from the standard library and you may run into errors.

<hr>

## 8. Do not name a variable as a function or a keyword. It may look like it works but that's now what happens:


```python
from math import sin, radians
sin = sin(radians(90))

print(sin)

print(sin(radians(70)))       # this will throw an error because now sin is seen as a variable and not a function
```

<hr>

## 9. How to deal with mutable default values in a function?

#### Consider the following function which takes a single employee and an employee list as an argument and its simply going to add the employee to the employee list.

In [ ]:
def add_employee(emp, emp_list=[]):                 # default value of emp_list is []
    emp_list.append(emp)
    print(emp_list)
    
emps = ['John', 'Mayer']

add_employee('Rv', emps)

#### Now let's add a couple of employees without adding an existing list and see what happens

In [19]:
add_employee('rv')

['rv']

In [20]:
add_employee('potf')

['rv', 'potf']

#### We notice that we do not get a new list of one person but rather we get a single list which appends names of all the employees that we pass. This is strange because we set empty list as default. 


#### What happens in Python is default arguments are evaluated once at the time the function is created. Therefore, it's not actually creating a new list each time we run the function.


#### This would not be noticed with immutable datatypes but could be a source of error while working with mutable datatypes like lists.

#### What can we do?

In [21]:
def add_employee_(emp, emp_list=None):
    if emp_list is None:
        emp_list = []
    
    emp_list.append(emp)
    print(emp_list)

In [22]:
add_employee_('rv')

['rv']

In [23]:
add_employee_('potf')

['potf']

In [24]:
add_employee_('random', emps)

['John', 'Mayer', 'Rv', 'random']

#### Now this works as expected.

<hr>

## 10. Using * to import is a bad practice.

<a href="https://www.youtube.com/watch?v=zdJEYhA2AZQ">Python tips!</a>